

.battle-result {
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #444;
  padding: 20px;
  border-radius: 10px;
  color: white;
  z-index: 1000;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}

.battle-hero img {
  width: 80px; /* Define uma largura adequada para as imagens */
  height: auto; /* Mantém a proporção da imagem */
  border-radius: 5px; /* Opcional, para bordas arredondadas */
  max-width: 100px; /* Ajuste este valor conforme necessário */
}

.name-result {
  color: gold;
  font-size: 27px;
  padding: 15px;
}
